* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
    background-image: url(../img/fundo.png);
    background-repeat: repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background-image: url(../img/detalhe-topo.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 25px;
}

ul {
    list-style: none;
}

#topo ul {
    background-color: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background-image: url(../img/divisor.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional {
    color: #fff;
    background-color: #de003e;
    cursor: text;
}

#conteudo {
    margin-top: 60px;
}

#principal {
    /* width: 540px; */
    float: right;
}

#tres-colunas #primario {
    width: 270px;
    float: left;
    background-color: #555;
}

#duas-colunas #primario {
    width: 555px;
    background-color: #555;
}

#uma-colunas #primario {
    width: 750px;
    background-color: #555;
}

#secundario {
    width: 270px;
    margin-left: 15px;
    float: left;
}

#lateral {
    width: 180px;
    float: left;
}

#rodape {
    background-color: #294c71;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.caixa {
    margin: 10px 0;
    padding: 5px;
    background-image: url(../img/fundo-caixa.png);
}

.caixa-conteudo {
    background-color: #fff;
    padding: 5px;
    margin-top: 5px;
}

h2 {
    font-size: 1em;
    background-color: #294c71;
    color: #fff;
    padding: 5px;
}

.clear {
    clear: both;
}

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    color: #a1a1a1;
    background-image: url(../img/marcador.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 20px;
}
label{
    display: block;
    cursor: pointer;
}

input{
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input[type="submit"]{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}